.introSection {
  padding: 0;
}

.introContainer {
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.introContainer h1 {
  font-weight: bold;
}

.introContainer p {
  max-width: 540px;
  margin-bottom: 50px;
}

#jobTitle {
  font-size: clamp(25px, 6vw, 65px) !important;
  color: #00ddff;
  margin-bottom: 30px;
}

.introText b {
  font-weight: 600;
}

#myImage {
  margin-left: 10vw;
  width: 35vw;
  max-width: 550px;
  min-width: 250px;
}