.projectTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: .9;
  transition: .2s;
}

.projectTitleContainer:hover {
  opacity: 1;
}

.projectTitleContainer h3 {
  margin: 0;
}

.projectTitleContainer img {
  height: 30px;
  color: white;
  margin-right: 15px;
}

.projectContainer {
  display: flex;
  align-items: center;
}

.projectContentContainer {
  width: 50%;
  padding-right: 6vw;
}

.projectContentContainer b {
  font-weight: 500;
  opacity: .8;
}

#showcaseImage {
  height: 300px;
}