.topBar {
  z-index: 1;
  background-color: rgba(41, 43, 71, .75);
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  padding: 15px clamp(20px, 5vw, 40px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLinks a {
  margin-left: 2rem !important;
}

@media (max-width: 768px) {
  .navbarLinks {
    display: none;
  }
}

#emailContact {
  display: flex;
  align-items: center;
  font-size: 17px;
  opacity: .75;
  transition: .2s;
  cursor: pointer;
  color: white;
}

#emailContact:hover {
  opacity: 1;
}

#emailIconContainer {
  margin-left: 5px;
}

.connectWalletBtn {
  background-color: #1c38c7;
  color: rgba(256, 256, 256, .75);
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 20px;

  cursor: pointer;
  transition: .2s;
}

.connectWalletBtn:hover {
  color: white;
}

.navbarLinkContainer a {
  margin-left: 1rem;
}

.navbarLinkContainer {
  height: 40px;
  display: flex;
  align-items: center;
}

.navbarLinkContainer img {
  cursor: pointer;
  transition: .2s;
  opacity: .75;
  height: 40px;
}

.navbarLinkContainer img:hover {
  opacity: 1;
}