@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  transition-property: all;
  transition-duration: 200ms;
}

body {
  color: white;
  background-color: #1D1C27;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.page-container {
  padding: 5rem 6rem;
  min-height: 100vh;
}

.button {
  height: 50px;
  min-width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #4338CA;
  color: #dbdbdb;
  cursor: pointer;
}

.rounded {
  border-radius: 55px;
}

.links a {
  font-family: "Monaco", monospace;
  opacity: .5;
}

.links a:hover {
  opacity: .8;
}

.button:hover {
  background-color: #544ad4;
  color: white;
}

.subtitle {
  margin-top: .3rem !important;
}

@media screen and (max-width: 900px) {
  h2 {
    font-size: 2rem;
  }

  .page-container {
    padding: 2rem 4rem;
  }
}
