.aboutContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 8vh;
}

.aboutContentContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 100px;
}

#aboutContentSection p {
  margin-bottom: 20px;
}

#aboutContentSection b {
  font-weight: 500;
}

#aboutContentSection span { 
  color: #02bedb;
}

.showcaseContainer {
  display: flex;
  flex-direction: column;
}

.showcaseContainer img {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  position: relative;
}

@media (max-width: 768px) {
  .aboutContentContainer {
    display: block;
  }
}