.aboutContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 8vh;
}

.aboutContentContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 100px;
}

#aboutContentSection {
  max-width: 600px;
}

#aboutContentSection p {
  margin-bottom: 20px;
}

#aboutContentSection b {
  font-weight: 500;
}

#aboutContentSection span { 
  color: #02bedb;
}

.showcaseContainer {
  display: flex;
  flex-direction: column;
}

.aboutImageContainer {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.aboutImageContainer img {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  position: relative;
}

@media (max-width: 768px) {
  .aboutContentContainer {
    display: block;
  }

  .showcaseContainer {
    flex-direction: column-reverse;
  }

  .aboutImageContainer {
    margin-top: 50px;
    justify-content: center;
  }
}

.skillWrapper {
  display: flex;
}

.skillWrapper img {
  color: white;
  width: 10px;
  height: 10px;
  margin-right: 1rem;
}

.skillWrapper p {
  color: white;
  margin: 0;
}

ul.skillsList {
  display: grid;
  font-size: 17px;
  grid-template-columns: repeat(2, minmax(50px, 150px));
  padding-left: 16px;
}