.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  max-height: 1300px;
  display: flex;
  justify-content: center;
  padding: 8vh 0;
}

h1 {
  font-size: clamp(30px, 5vw, 80px);
}

p {
  color: #a6a6a6;
  font-size: clamp(18px, 1.5vw, 1.5rem);
  line-height: clamp(22px, 2vw, 1.7rem);
}

a {
  text-decoration: none;
  color: rgba(256, 256, 256, .8);
  transition: .2s;
}

a:hover {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 900px) {
  .section {
    align-items: start;
    padding-top: clamp(8rem, 20vw, 20rem);
  }
}