.App {
  background-color: #292b47;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  display: flex;
  padding: 7vh clamp(20px, 10vw, 200px);
}

h1 {
  font-size: clamp(35px, 5vw, 80px);
}

h2 {
  font-size: clamp(28px, 3vw, 70px);
  margin-bottom: 9vh;
}

h3 {
  font-size: clamp(18px, 1.8vw, 45px);
  font-weight: 400;
  
}

p {
  color: #a6a6a6;
  font-size: clamp(17px, 1.4vw, 1.3rem);
  line-height: clamp(28px, 2.5vw, 1.7rem);
}

b {
  font-weight: 500;
  opacity: .8;
}

a {
  text-decoration: none;
  color: rgba(256, 256, 256, .8);
  transition: .2s;
}

a:hover {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 900px) {
  .section {
    align-items: start;
    padding-top: clamp(8rem, 20vw, 20rem);
  }
}