.projectTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: .9;
  transition: .2s;
}

.projectTitleContainer:hover {
  opacity: 1;
}

.showcaseListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.workContainer {
  width: 100%;
}

.expContainer {
  max-width: 850px;
  position: relative;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 20px;
}

.projLinkContainer {
  position: absolute;
  display: flex;
  top: 50px;
  right: 50px;
}

@media (max-width: 1080px) {
  .expContainer {
    padding: 40px
  }

  .projLinkContainer {
    top: 40px;
    right: 40px;
  }
}

@media (max-width: 768px) {
  .expContainer {
    padding: 30px
  }

  .projLinkContainer {
    top: 30px;
    right: 30px;
  }
}

@media (max-width: 480px) {
  .expContainer {
    padding: 60px 20px 20px 20px;
  }

  #showcaseTitle {
    display: none;
  }
  
  .projLinkContainer {
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 425px) {
  .projLinkContainer img {
    height: 25px !important;
    width: 25px !important;
  }

  #githubIcon {
    height: 28px !important;
    width: 28px !important;
  }
}

.showcaseListContainer {
  display: flex;
  flex-direction: column; 
}

#projTitle {
  margin-bottom: 10px;
}

#showcaseTitle {
  font-size: 17px;
  color: #00ddff;
  margin-bottom: 15px;
}

#githubIcon {
  margin-right: 20px;
  height: 33px;
}

.projLinkContainer img {
  cursor: pointer;
  opacity: .7;
  height: 30px;
  transition: .2s;
}

.projLinkContainer img:hover {
  opacity: 1;
}

.projectTitleContainer h3 {
  margin: 0;
}

.projectTitleContainer img {
  height: 30px;
  color: white;
  margin-right: 15px;
}

.buttonRowc-1 {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.projectContainer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-bottom: 14vh;
}

.projectContentContainer {
  width: 50%;
  padding-right: 6vw;
}

.showcaseSliderContainer {
  display: flex;
  align-items: center;
}

.showcaseSliderContainer img {
  animation: fade .2s;
  width: clamp(300px, 37vw, 700px);
}

.experienceTitleContainer {
  display: flex;
  align-items: end;
  margin-bottom: 5px;
}

.experienceTitleContainer span {
  opacity: .8;
  font-weight: 500;
}

p.jobsum {
  color: white;
  opacity: .7;
}

.experienceTitleContainer h3 {
  margin: 0;
}

#jobDetails {
  font-size: 15px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .projectContainer {
    flex-direction: column;
  }

  .projectContentContainer {
    padding: 0;
    margin-bottom: 10vh;
  }

  .showcaseSliderContainer img {
    width: 100%;
  }

  .experienceContainer {
    width: 100%;
  }
}